In [8]:
import os,sys
import csv
import pandas as pd

In [3]:
path = os.listdir('/Users/linkeke/Downloads/rsna-pneumonia-detection-challenge/stage_2_train_images/Transform')

In [6]:
with open("data.csv","w") as csvfile:
    writer = csv.writer(csvfile)
    #write cols name
    writer.writerow(["patientID","filename","Target","finding"])
    for filename in path:
        writer.writerow([filename[:-4],filename,None,0])

In [7]:
path[0:5]

['.DS_Store',
 'c769a794-11cc-4b06-a97b-1acdca816ae1.png',
 '9f434de4-5c5b-48c2-828f-8f04a7c51739.png',
 'a23af76a-d365-4529-837b-0e8ed2ab5569.png',
 '0053ee32-1e03-4dc2-a103-f46ad0448787.png']

In [38]:
right1 = pd.read_csv('/Users/linkeke/Downloads/rsna-pneumonia-detection-challenge/stage_2_train_labels.csv')
right1 = right1.rename(columns={'patientId':'patientID'})

In [25]:
left1 = pd.read_csv('/Users/linkeke/Desktop/Dataprocess/data.csv')
left1

,patientID,filename,Target,finding
0,c769a794-11cc-4b06-a97b-1acdca816ae1,c769a794-11cc-4b06-a97b-1acdca816ae1.png,NaN,0
1,9f434de4-5c5b-48c2-828f-8f04a7c51739,9f434de4-5c5b-48c2-828f-8f04a7c51739.png,NaN,0
2,a23af76a-d365-4529-837b-0e8ed2ab5569,a23af76a-d365-4529-837b-0e8ed2ab5569.png,NaN,0
3,0053ee32-1e03-4dc2-a103-f46ad0448787,0053ee32-1e03-4dc2-a103-f46ad0448787.png,NaN,0
4,f07012f0-57e8-4d02-951f-087ae7c8ce5c,f07012f0-57e8-4d02-951f-087ae7c8ce5c.png,NaN,0
...,...,...,...,...
2139,db71b2fa-5be8-47c3-a5ae-41f5211edc5d,db71b2fa-5be8-47c3-a5ae-41f5211edc5d.png,NaN,0
2140,7ca2cfe6-94cc-4fc9-9e23-8409fdb875bf,7ca2cfe6-94cc-4fc9-9e23-8409fdb875bf.png,NaN,0
2141,33b0b3e6-38db-42f4-bcb9-aee327492997,33b0b3e6-38db-42f4-bcb9-aee327492997.png,NaN,0
2142,e3e58d0d-54af-477a-abf2-8c1d11137114,e3e58d0d-54af-477a-abf2-8c1d11137114.png,NaN,0
2143,f6c8b5ed-851e-44ae-90d3-b39cbd112305,f6c8b5ed-851e-44ae-90d3-b39cbd112305.png,NaN,0

In [41]:
pd.merge(left1, right1)

Empty DataFrame
Columns: [patientID, filename, Target, finding, x, y, width, height]
Index: []

In [40]:
right1["patientID"]

0        0004cfab-14fd-4e49-80ba-63a80b6bddd6
1        00313ee0-9eaa-42f4-b0ab-c148ed3241cd
2        00322d4d-1c29-4943-afc9-b6754be640eb
3        003d8fa0-6bf1-40ed-b54c-ac657f8495c5
4        00436515-870c-4b36-a041-de91049b9ab4
                         ...
30222    c1ec14ff-f6d7-4b38-b0cb-fe07041cbdc8
30223    c1edf42b-5958-47ff-a1e7-4f23d99583ba
30224    c1f6b555-2eb1-4231-98f6-50a963976431
30225    c1f7889a-9ea9-4acb-b64c-b737c929599a
30226    c1f7889a-9ea9-4acb-b64c-b737c929599a
Name: patientID, Length: 30227, dtype: object

In [45]:
total_df = pd.merge(left1, right1, how='inner', on=['patientID'])

In [94]:
total_df

,patientID,filename,finding,Target
0,c769a794-11cc-4b06-a97b-1acdca816ae1,c769a794-11cc-4b06-a97b-1acdca816ae1.png,0,0
1,9f434de4-5c5b-48c2-828f-8f04a7c51739,9f434de4-5c5b-48c2-828f-8f04a7c51739.png,0,0
2,a23af76a-d365-4529-837b-0e8ed2ab5569,a23af76a-d365-4529-837b-0e8ed2ab5569.png,0,0
3,0053ee32-1e03-4dc2-a103-f46ad0448787,0053ee32-1e03-4dc2-a103-f46ad0448787.png,0,0
4,f07012f0-57e8-4d02-951f-087ae7c8ce5c,f07012f0-57e8-4d02-951f-087ae7c8ce5c.png,0,0
...,...,...,...,...
2402,db71b2fa-5be8-47c3-a5ae-41f5211edc5d,db71b2fa-5be8-47c3-a5ae-41f5211edc5d.png,0,0
2403,7ca2cfe6-94cc-4fc9-9e23-8409fdb875bf,7ca2cfe6-94cc-4fc9-9e23-8409fdb875bf.png,0,0
2404,33b0b3e6-38db-42f4-bcb9-aee327492997,33b0b3e6-38db-42f4-bcb9-aee327492997.png,0,0
2405,e3e58d0d-54af-477a-abf2-8c1d11137114,e3e58d0d-54af-477a-abf2-8c1d11137114.png,0,0
2406,f6c8b5ed-851e-44ae-90d3-b39cbd112305,f6c8b5ed-851e-44ae-90d3-b39cbd112305.png,0,0

In [49]:
total_df = total_df.drop(columns=['Target_x','x','y','width','height'])

In [51]:
total_df = total_df.rename(columns={'Target_y':'Target'})

In [69]:
total_df.to_csv("Noncovid.csv")

In [53]:
meta = pd.read_csv('/Users/linkeke/Documents/GitHub/covid-chestxray-dataset/metadata.csv')

In [60]:
meta

,patientid,offset,sex,age,finding,RT_PCR_positive,survival,intubated,intubation_present,went_icu,...,date,location,folder,filename,doi,url,license,clinical_notes,other_notes,Unnamed: 29
0,2,0.0,M,65.0,Pneumonia/Viral/COVID-19,Y,Y,N,N,N,...,"January 22, 2020","Cho Ray Hospital, Ho Chi Minh City, Vietnam",images,auntminnie-a-2020_01_28_23_51_6665_2020_01_28_...,10.1056/nejmc2001272,https://www.nejm.org/doi/full/10.1056/NEJMc200...,NaN,"On January 22, 2020, a 65-year-old man with a ...",NaN,NaN
1,2,3.0,M,65.0,Pneumonia/Viral/COVID-19,Y,Y,N,N,N,...,"January 25, 2020","Cho Ray Hospital, Ho Chi Minh City, Vietnam",images,auntminnie-b-2020_01_28_23_51_6665_2020_01_28_...,10.1056/nejmc2001272,https://www.nejm.org/doi/full/10.1056/NEJMc200...,NaN,"On January 22, 2020, a 65-year-old man with a ...",NaN,NaN
2,2,5.0,M,65.0,Pneumonia/Viral/COVID-19,Y,Y,N,N,N,...,"January 27, 2020","Cho Ray Hospital, Ho Chi Minh City, Vietnam",images,auntminnie-c-2020_01_28_23_51_6665_2020_01_28_...,10.1056/nejmc2001272,https://www.nejm.org/doi/full/10.1056/NEJMc200...,NaN,"On January 22, 2020, a 65-year-old man with a ...",NaN,NaN
3,2,6.0,M,65.0,Pneumonia/Viral/COVID-19,Y,Y,N,N,N,...,"January 28, 2020","Cho Ray Hospital, Ho Chi Minh City, Vietnam",images,auntminnie-d-2020_01_28_23_51_6665_2020_01_28_...,10.1056/nejmc2001272,https://www.nejm.org/doi/full/10.1056/NEJMc200...,NaN,"On January 22, 2020, a 65-year-old man with a ...",NaN,NaN
4,4,0.0,F,52.0,Pneumonia/Viral/COVID-19,Y,NaN,N,N,N,...,"January 25, 2020","Changhua Christian Hospital, Changhua City, Ta...",images,nejmc2001573_f1a.jpeg,10.1056/NEJMc2001573,https://www.nejm.org/doi/full/10.1056/NEJMc200...,NaN,diffuse infiltrates in the bilateral lower lungs,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,479,0.0,F,40.0,Pneumonia,NaN,NaN,NaN,NaN,NaN,...,NaN,United Kingdom,images,072ecaf8c60a81980abb57150a8016_jumbo-9.jpeg,NaN,https://radiopaedia.org/cases/multifocal-round...,CC BY-NC-SA,Asthmatic. Shortness of breath and wheeze. Rou...,"Case courtesy of Dr Ian Bickle, Radiopaedia.or...",NaN
946,479,70.0,F,40.0,Pneumonia,NaN,NaN,NaN,NaN,NaN,...,NaN,United Kingdom,images,ff33c406392b968d483174c97eb857_jumbo-9.jpeg,NaN,https://radiopaedia.org/cases/multifocal-round...,CC BY-NC-SA,Asthmatic. Shortness of breath and wheeze. The...,"Case courtesy of Dr Ian Bickle, Radiopaedia.or...",NaN
947,480,NaN,M,26.0,Pneumonia,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,images,000001-266.jpg,NaN,https://www.eurorad.org/case/947,CC BY-NC-SA 4.0,fire-eater accidentally ingested a paraffin mi...,NaN,NaN
948,481,NaN,M,50.0,Pneumonia,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,images,000001-272.jpg,NaN,https://www.eurorad.org/case/934,CC BY-NC-SA 4.0,"The patient, a heavy smoker, was referred to t...",NaN,NaN
949,481,NaN,M,50.0,Pneumonia,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,images,000002-268.jpg,NaN,https://www.eurorad.org/case/934,CC BY-NC-SA 4.0,"The patient, a heavy smoker, was referred to t...",NaN,NaN

In [82]:
total_df

,patientID,filename,finding,Target
0,c769a794-11cc-4b06-a97b-1acdca816ae1,c769a794-11cc-4b06-a97b-1acdca816ae1.png,0,0
1,9f434de4-5c5b-48c2-828f-8f04a7c51739,9f434de4-5c5b-48c2-828f-8f04a7c51739.png,0,0
2,a23af76a-d365-4529-837b-0e8ed2ab5569,a23af76a-d365-4529-837b-0e8ed2ab5569.png,0,0
3,0053ee32-1e03-4dc2-a103-f46ad0448787,0053ee32-1e03-4dc2-a103-f46ad0448787.png,0,0
4,f07012f0-57e8-4d02-951f-087ae7c8ce5c,f07012f0-57e8-4d02-951f-087ae7c8ce5c.png,0,0
...,...,...,...,...
2402,db71b2fa-5be8-47c3-a5ae-41f5211edc5d,db71b2fa-5be8-47c3-a5ae-41f5211edc5d.png,0,0
2403,7ca2cfe6-94cc-4fc9-9e23-8409fdb875bf,7ca2cfe6-94cc-4fc9-9e23-8409fdb875bf.png,0,0
2404,33b0b3e6-38db-42f4-bcb9-aee327492997,33b0b3e6-38db-42f4-bcb9-aee327492997.png,0,0
2405,e3e58d0d-54af-477a-abf2-8c1d11137114,e3e58d0d-54af-477a-abf2-8c1d11137114.png,0,0
2406,f6c8b5ed-851e-44ae-90d3-b39cbd112305,f6c8b5ed-851e-44ae-90d3-b39cbd112305.png,0,0

In [85]:
NewMeta = meta[['patientid','filename']]
NewMeta

    patientid                                           filename
0           2  auntminnie-a-2020_01_28_23_51_6665_2020_01_28_...
1           2  auntminnie-b-2020_01_28_23_51_6665_2020_01_28_...
2           2  auntminnie-c-2020_01_28_23_51_6665_2020_01_28_...
3           2  auntminnie-d-2020_01_28_23_51_6665_2020_01_28_...
4           4                              nejmc2001573_f1a.jpeg
..        ...                                                ...
945       479        072ecaf8c60a81980abb57150a8016_jumbo-9.jpeg
946       479        ff33c406392b968d483174c97eb857_jumbo-9.jpeg
947       480                                     000001-266.jpg
948       481                                     000001-272.jpg
949       481                                     000002-268.jpg

[950 rows x 2 columns]

In [87]:
NewMeta['finding']=1

<ipython-input-87-fbf9ba7c21e2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NewMeta['finding']=1

In [88]:
NewMeta

    patientid                                           filename  finding
0           2  auntminnie-a-2020_01_28_23_51_6665_2020_01_28_...        1
1           2  auntminnie-b-2020_01_28_23_51_6665_2020_01_28_...        1
2           2  auntminnie-c-2020_01_28_23_51_6665_2020_01_28_...        1
3           2  auntminnie-d-2020_01_28_23_51_6665_2020_01_28_...        1
4           4                              nejmc2001573_f1a.jpeg        1
..        ...                                                ...      ...
945       479        072ecaf8c60a81980abb57150a8016_jumbo-9.jpeg        1
946       479        ff33c406392b968d483174c97eb857_jumbo-9.jpeg        1
947       480                                     000001-266.jpg        1
948       481                                     000001-272.jpg        1
949       481                                     000002-268.jpg        1

[950 rows x 3 columns]

In [89]:
NewMeta['Target']=2

<ipython-input-89-e3bf9a8bb178>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NewMeta['Target']=2

In [90]:
NewMeta

,patientid,filename,finding,Target
0,2,auntminnie-a-2020_01_28_23_51_6665_2020_01_28_...,1,2
1,2,auntminnie-b-2020_01_28_23_51_6665_2020_01_28_...,1,2
2,2,auntminnie-c-2020_01_28_23_51_6665_2020_01_28_...,1,2
3,2,auntminnie-d-2020_01_28_23_51_6665_2020_01_28_...,1,2
4,4,nejmc2001573_f1a.jpeg,1,2
...,...,...,...,...
945,479,072ecaf8c60a81980abb57150a8016_jumbo-9.jpeg,1,2
946,479,ff33c406392b968d483174c97eb857_jumbo-9.jpeg,1,2
947,480,000001-266.jpg,1,2
948,481,000001-272.jpg,1,2
949,481,000002-268.jpg,1,2

In [101]:
NewMeta = NewMeta.rename(columns={'patientid':'patientID'})

In [102]:
NewMeta

,patientID,filename,finding,Target
0,2,auntminnie-a-2020_01_28_23_51_6665_2020_01_28_...,1,2
1,2,auntminnie-b-2020_01_28_23_51_6665_2020_01_28_...,1,2
2,2,auntminnie-c-2020_01_28_23_51_6665_2020_01_28_...,1,2
3,2,auntminnie-d-2020_01_28_23_51_6665_2020_01_28_...,1,2
4,4,nejmc2001573_f1a.jpeg,1,2
...,...,...,...,...
945,479,072ecaf8c60a81980abb57150a8016_jumbo-9.jpeg,1,2
946,479,ff33c406392b968d483174c97eb857_jumbo-9.jpeg,1,2
947,480,000001-266.jpg,1,2
948,481,000001-272.jpg,1,2
949,481,000002-268.jpg,1,2

In [98]:
total_df

,patientID,filename,finding,Target
0,c769a794-11cc-4b06-a97b-1acdca816ae1,c769a794-11cc-4b06-a97b-1acdca816ae1.png,0,0
1,9f434de4-5c5b-48c2-828f-8f04a7c51739,9f434de4-5c5b-48c2-828f-8f04a7c51739.png,0,0
2,a23af76a-d365-4529-837b-0e8ed2ab5569,a23af76a-d365-4529-837b-0e8ed2ab5569.png,0,0
3,0053ee32-1e03-4dc2-a103-f46ad0448787,0053ee32-1e03-4dc2-a103-f46ad0448787.png,0,0
4,f07012f0-57e8-4d02-951f-087ae7c8ce5c,f07012f0-57e8-4d02-951f-087ae7c8ce5c.png,0,0
...,...,...,...,...
2402,db71b2fa-5be8-47c3-a5ae-41f5211edc5d,db71b2fa-5be8-47c3-a5ae-41f5211edc5d.png,0,0
2403,7ca2cfe6-94cc-4fc9-9e23-8409fdb875bf,7ca2cfe6-94cc-4fc9-9e23-8409fdb875bf.png,0,0
2404,33b0b3e6-38db-42f4-bcb9-aee327492997,33b0b3e6-38db-42f4-bcb9-aee327492997.png,0,0
2405,e3e58d0d-54af-477a-abf2-8c1d11137114,e3e58d0d-54af-477a-abf2-8c1d11137114.png,0,0
2406,f6c8b5ed-851e-44ae-90d3-b39cbd112305,f6c8b5ed-851e-44ae-90d3-b39cbd112305.png,0,0

In [103]:
total_df.append(NewMeta)

,patientID,filename,finding,Target
0,c769a794-11cc-4b06-a97b-1acdca816ae1,c769a794-11cc-4b06-a97b-1acdca816ae1.png,0,0
1,9f434de4-5c5b-48c2-828f-8f04a7c51739,9f434de4-5c5b-48c2-828f-8f04a7c51739.png,0,0
2,a23af76a-d365-4529-837b-0e8ed2ab5569,a23af76a-d365-4529-837b-0e8ed2ab5569.png,0,0
3,0053ee32-1e03-4dc2-a103-f46ad0448787,0053ee32-1e03-4dc2-a103-f46ad0448787.png,0,0
4,f07012f0-57e8-4d02-951f-087ae7c8ce5c,f07012f0-57e8-4d02-951f-087ae7c8ce5c.png,0,0
...,...,...,...,...
945,479,072ecaf8c60a81980abb57150a8016_jumbo-9.jpeg,1,2
946,479,ff33c406392b968d483174c97eb857_jumbo-9.jpeg,1,2
947,480,000001-266.jpg,1,2
948,481,000001-272.jpg,1,2
949,481,000002-268.jpg,1,2

In [105]:
total_df = total_df.append(NewMeta)

In [106]:
total_df.to_csv('FullData.csv')